<html>
<head>
</head>
<body style="width: 550px;margin: 0px;padding: 0;text-align: justify;font-family:  Verdhana, sans-serif;font-size: 11px;color: #696969;">
<div style=" 
border:2px solid red;
padding:5px 10px;
background:#FEFFEF;
width:550px;
border-radius:5px;
-moz-border-radius:5px;
">
<table width="100%">
	<tr>
		<td>
			<img src='cid:logoImage'>
		</td>
		<td align="right">
			#if( $date ) ${date} #end
		</td>
	</tr>
</table>
<hr />
<table>
	<tr>
		<td>
			<h3>Hello #if( $email ) ${email} #end</h3>
		</td>
	</tr>
	
	<tr>
		<td>
			<br>
		</td>
	</tr>

	<tr>
		<td>
			 Welcome to GroceriesKart.com. Now that you have created an account you can: 
			 <br>
			 <br>
			 Track your Orders, View your Order History, Maintain gList.
  			 <br>
  			 <br>
			 Next time you shop at GroceriesKart.com, simply login using your Email and Password.
			 <br>
			 <br>
			 If you have any question. Please contact our Customer Support at (TODO Phone number).
			 <br>
			 <br>			 
			 Thank you for this opportunity to serve you. We look forward to serving you in the future.
			 <br>
			 <br>
			 <br>
			 Sincerely,<br>
			 Customer Support Team<br>
			 www.grocerieskart.com			 
			 <br>
			 <br>

			 Please do not reply to this message. It was sent from a notification-only address that cannot accept incoming email.
			 

		</td>
	</tr>	
	
</table>
</body>
</html>